/variaveis.class
/OperadoresAritmeticos.class
/OutrosOperadores.class
/OperadoresLogicos.class
/hangsOn.class
/Exer4.class
/Exercicio01.class
/desafio.class
/MetroCent.class
/RaioCirculo.class
/DobroAreaDoQuadrado.class
/Exer8.class
/Exerc9.class
/Exec10.class
/Exec13.class
/SwithCase1.class
/SwitchCase1.class
